:root {
--cor-de-fundo:linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(17,54,16,1) 28%, rgba(168,187,170,1) 100%);
--cor-da-fonte:
--cor-fonte-titulos: 
--cor-de-fundo-cabecalho:
}
  body {
    background-color: var (--cor-de-fundo);
    height: 100vh;

  }
  